body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#intestazione{
    background-color: #ffffff;
    box-sizing: border-box;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.toboolist{
    display: inline-block;
}