/*condizioni generali default*/
*{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f6f8f9;*/
    background-color: #ffffff;
}


/*condizioni generali corpo*/
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f6f8f9;
}

main{
    background-color: #f6f8f9;
}
/******header******/
#intestazione{
    box-sizing: border-box;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #ffffff;
}

img{
    background-color: #ffffff;
}

#toboolist{
    display: inline-block;
    font-weight: bolder;
    font-size: 30px;
    background-color: #ffffff;
}

/******primo riquadro******/
.first-box{
    margin: auto;
    margin-top: 40px;
    width: 790px;
    height: 50px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*condizioni generali 2 bottoni*/
.button-general{
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    padding-top: 7px;
    border-radius: 5px;
    margin-top: 12.5px;
}

/*add tast*/
.task{
    background-color: #14aaf5;
    color: #ffffff;
    margin-left: 50px;
}

/*add section*/
.section{
    border-width: 1px;
    border-style: solid;
    border-color: #c4cbd0;
    color: #c4cbd0;
}

/******secondo riquadro******/
.second-box{
    box-sizing: border-box;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 20px;
    width: 790px;
    
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 50px;
}

/*condizioni generali TUTTI i div/span*/
.all{
    display: inline-block;
}

/*3 titoli principali*/
.titles{
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding-top: 35px;
}

/*spunta verde*/
.positive{
    width: 20px;
    height: 20px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #4ccfb8;
    color: #4ccfb8;
}

/*croce rossa*/
.negative{
    width: 20px;
    height: 20px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #ff1010;
    color: #ff1010;
}

/*bottoni condizioni generali*/

.buttons{
    color: #ffffff;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
}

/*colori dei bottoni*/

.edit{
    background-color: #14aaf5;
}

.q1{
    background-color: #ab5de6;
}

.rec{
    background-color: #2cc6ab;
}

.mob{
    background-color: #ff9b00;
}

.web{
    background-color: #ec4a9d;
}

.sal{
    background-color: #a3d116;
}